* {
	margin:0;
	padding:0;
	/*border:1px dashed #000;*/
}

html, body {
	height:100%;
	margin:0;
	padding:0;
}

body {
	font-size:10px;
	font-family:'Lato', Calibri, sans-serif;
	color:#333333;
}

#page-wrap {
	min-width:310px;
	height:100%;
}

/* Sctroll Bar */
::-webkit-scrollbar {
    width: 8px;
    height:12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(111,111,111,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a {
	text-decoration:none;
	color:#333333;
	cursor:pointer;
}

nav a:link, nav a:visited {
	text-decoration:none;
}

nav a:hover, nav a:active {
	color:#f63;
}

nav .active {
	color:#f63;
}

.uppercase {
	text-transform:uppercase;
}

#main-header {
	background-color:#fff;
	width:100%;
	color:#333333;
}

#main-header > * {
	display:inline-block;
}

#pursuits-logo {
	width:auto;
	height:40px;
	vertical-align: text-bottom;
	margin-left:5em;
	border:none;
}

h1 {
	font-size:2.5em;
	margin:0.5em 0.1em;
}

sup {
	font-size:0.6em;
	font-weight:lighter;
}

#user-info {
	margin:1em;
	float:right;
}

#primary-nav {
	float:right;
	margin:1em;
}

#primary-nav li {
	display:inline-block;
	font-size:1.5em;
	margin:0.5em 0.25em;
}

#search-box {
	float:right;
	margin:1.5em;
	margin-right:2em;
}

#search-box input {
	vertical-align:text-bottom;
}

#user-info > * {
	display:inline-block;
}

#user-avatar {
	vertical-align:text-bottom;
	margin-right:1em;
	height:30px;
	width:30px;
}

h3 {
	font-size:1.5em;
}

.sub-header{
	font-size:1.25em;
	background-color:#fff;
	height:3.2em;
	border-top:2px solid #ececec;
	border-bottom:1px solid #c3c3c3;
}

.sub-header > * {
	display:inline-block;
	vertical-align:top;
}

.button {
	margin:0.5em;
	padding:0.5em;
	background-color:#f63;
	color:#fff;
	box-shadow:1px 2px 4px 0px #8d8d8d;
}

.button:hover, .button:active {
	background-color:#f63;
	cursor:pointer;
}

.button:active {
	box-shadow:none;
}

.button:first-child {
	margin-left:4em;
}

.drop-menu {
	margin:1em 0.75em;
	font-family:"Bitter", serif;
}

.drop-menu > * {
	display:inline-block;
	vertical-align:top;
}

.drop-menu p {
	font-weight:bold;
	margin-right:0.25em;
}

.drop-menu select {
	background-color:#fff;
	list-style-type:none;
	color:#333333;
}

#suggested-button {
	font-size:1.5em;
	position:absolute;
	top:56px;
	right:0;
	background-color:#fff;
	padding:0.5em 1em;
	border-bottom-left-radius:5px;
	border-bottom:1px solid #ececec;
	border-left:1px solid #ececec;
	box-shadow:1px 2px 6px -4px #8d8d8d;
	font-weight:bold;
}

.suggested-toggle {
	cursor:pointer;
}

.hidden {
	display:none;
}

.shadow {
	box-shadow:1px 2px 4px 1px #8d8d8d;
	-moz-box-shadow:1px 2px 4px 1px #8d8d8d;
	-webkit-box-shadow:1px 2px 4px 1px #8d8d8d;
}

.fly-menu {
	z-index:2;
	background-color:#fff;
	font-size:1.5em;
	position:absolute;
	top:56px;
	right:0;
	height:calc(100% - 62px);
	height:-o-calc(100% - 62px); /* opera */
	height:-webkit-calc(100% - 62px); /* chrome, safari */
	height:-moz-calc(100% - 62px); /* firefox */
	width:auto;
	border-left:1px solid #ababab;
	background-color:#c3c3c3;
}

.fly-menu > p {
	padding:0.5em 1em;
	text-align:right;
	font-weight:bold;
}

#sug-jobs, #sug-articles {
	height:calc((100% - 62px) / 2);
	height:-o-calc((100% - 62px) / 2); /* opera */
	height:-webkit-calc((100% - 62px) / 2); /* chrome, safari */
	height:-moz-calc((100% - 62px) / 2); /* firefox */
	overflow-y:auto;
}

.sug-post {
	width:12.5em;
	background-color:#fff;
	height:auto;
	margin:0.5em 1em;
	padding:0.5em;
	position:relative;
}

.sug-post:first-child, .cat-post:first-child {
	margin-top:0;
}

.co-logo-container {
	width:20px;
	height:20px;
	display:inline-block;
	float:left;
	position:relative;
	margin-right:0.25em;

}

.co-logo {
	display:block;
	width:20px;
	height:auto;
	max-height:20px;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
}

.job-title, .article-title {
	display:block;
	margin-top:0.25em;
	font-weight:bold;
}

main {
	height:calc(100% - 100px);
	height:-o-calc(100% - 100px); /* opera */
	height:-webkit-calc(100% - 100px); /* chrome, safari */
	height:-moz-calc(100% - 100px); /* firefox */
	background-color:#f5f5f5;
	overflow-y:auto;
	border-top:1px solid #d8d8bf;
}

#category-wrap {
	white-space:nowrap;
	overflow-x:auto;				
	width:auto;
}

.category {
	margin:1em;
	width:auto;
	min-width:24em;
	height:calc(100% - 2em);
	height:-o-calc(100% - 2em); /* opera */
	height:-webkit-calc(100% - 2em); /* chrome, safari */
	height:-moz-calc(100% - 2em); /* firefox */
	display:inline-block;
	background-color:#d8d8bf;
}

.category:first-child {
	margin-left:4.5em;
}

h2 {
	font-size:2em;
	text-align:center;
	padding:0.5em;
	font-family:'Bitter', serif;
}

.option-wrap {
	overflow-y:auto;
	height:calc(100% - 5.55em);
	height:-o-calc(100% - 5.55em); /* opera */
	height:-webkit-calc(100% - 5.55em); /* chrome, safari */
	height:-moz-calc(100% - 5.55em); /* firefox */

}

.option {
	width:12.5em;
	background-color:#fff;
	height:auto;
	margin:0.5em 1em;
	padding:0.5em;
	position:relative;
	font-size:1.5em;
}

.sug-post, .option {
	border:1px solid #ababab;
}

.spacer {
	font-size:1.25em;
}

.details-button {
	position:absolute;
	bottom:0.25em;
	right:0.25em;
	background-color:#f63;
	cursor:pointer;
	height:20px;
	width:20px;
}

.notes p {
	white-space:normal;
	font-size:0.8em;
}	

.ng-invalid.ng-dirty {
	/*border-color:red;*/
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,0.7);
}

.popup {
	position:absolute;
	left:1%;
	right:1%;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	padding:1.5em;
	z-index:1;
	height:auto;
}

.popup span {
	display:block;
}

#add-option-form {
	top:15%;
	width:25em;
}

.popup form {
	font-size:1.5em;
}

.popup p {
	margin-bottom:0.25em;
}

.popup textarea {
	resize:none;
}

#add-cat-form {
	top:25%;
	width:25em;
}

#details-menu {
	width:52em;
	height:auto;
	top:15%;
}

#form-container {
	height:25em;
}

#details-menu > section {
	margin-top:1em;
}

#details-menu * {
	/*border:1px dashed #000;*/
}

#tabs {
	margin:0 auto;
	border-bottom:2px solid #c3c3c3;
	text-align:center;
}

#tabs li {
	font-size:1.5em;
	list-style-type:none;
	padding:0.5em;
	margin:0;
	display:inline-block;
	width:4.5em;
	color:#333333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
}

#tabs li:hover {
	background-color:#f63;
}

#tabs .active {
	background-color:#c3c3c3;
}

#notes-tab, #contacts-tab, #tasks-tab, #expenses-tab, #files-tab, #tags-tab {
	position:relative;
}

.existing, .add {
	display:inline-block;
	margin:0;
}

.existing {
	overflow-y:auto;
	height:100%;
	width:22em;
	padding-left:0.5em;
}

.add {
	width:12em;
	position:absolute;
	top:0;
	right:0;
}

.add textarea {
	clear:left;
}

.save-button {
	padding-top:0.25em;
	clear:right;
}

.details-contact, .details-task, .details-expense, .details-file {
	margin-bottom:0.5em;
}

.details-contact p, .details-task p, .details-expense p, .details-file p {
	margin-bottom:0;
}

.details-contact span {
	display:inline-block;
}

.details-tag span {
	display:inline-block;
	margin-right:1em;
}

.sv-helper {
	box-shadow:4px 8px 16px 4px rgba(111,111,111,0.5);
}

#contacts-container, #expenses-container {
	margin-left:4.5em;
	padding-top:1em;
}

table {
	border-collapse:collapse;
}

tbody {
	overflow-y:auto;
}

tbody tr {
	border-top:1px solid #c3c3c3;
}

tbody tr:first-child {
	border-top:none;
}

#add-contacts-table-form, #add-expenses-table-form {
	border-top:1px solid #333333;
}

col {
	width:20em;
}

th {
	font-size:2em;
	text-align:left;
}

td {
	font-size:1.5em;
	padding:0.25em 0;
}